//========================= ОБНУЛЕНИЕ =========================
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;   
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
fieldset, // отступы для блока внутри form
dl,
dd {
    margin: 0;
    padding: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 10px;
    font-family: 'Inter';
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
    list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
            text-decoration: none;
    color: inherit;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

img { 
    vertical-align: top; 
}